@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

/*style for product*/
.product-page-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 30px;
}

.sidebar {
  width: 250px;
  margin-right: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

.filter-category,
.filter-price {
  margin-bottom: 20px;
}

.filter-category div,
.filter-price div {
  margin-bottom: 10px;
}

.filter-category label,
.filter-price label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #666;
}

.filter-category input[type="checkbox"] {
  margin-right: 10px;
}

.price-range {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-range label {
  display: flex;
  flex-direction: column;
}

.price-range input[type="range"] {
  margin-top: 5px;
}

.product-list-container {
  flex: 1;
}

.title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-input select {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-list-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.product-list-buttons button:disabled {
  background-color: #ccc;
}

.product:hover {
  transform: translateY(-5px);
}

.product h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.product p {
  font-size: 1rem;
  color: #666;
}

.product img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.btn-details,
.btn-add-to-cart {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: linear-gradient(135deg, #fff, #FFEC9E);
  color: #000;
  transition: background-color 0.3s ease;
}

.btn-details:hover,
.btn-add-to-cart:hover {
  background: linear-gradient(-135deg, #fff, #FFD700);
}

.products button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #FFEC9E;
  color: #000;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  height: 38px;
  margin: 8px;
}

.products button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.products button:hover {
  background-color: #FFEC9E;
  color: #fff;
}

.product-list-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.product-list-buttons button {
  padding: 10px 15px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  /*background-color: #FFEC9E;*/
  color: #000;
  transition: background-color 0.3s ease;
  height: 38px;
  margin: 8px;
}

.product-list-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.product-list-buttons button:hover {
  background-color: #FFEC9E;
  color: #fff;
}

@media (max-width: 480px) {
  .product-page-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .product-list-container {
    width: 100%;
  }

  .search-input {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-input input[type="text"],
  .search-input select {
    width: 100%;
    margin: 5px 0;
  }

  .products {
    grid-template-columns: 1fr;
  }

  .product-list-buttons {
    grid-template-columns: 1fr;
  }

  .product-list-buttons button {
    font-size: 1rem;
    padding: 8px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .product-page-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .product-list-container {
    width: 100%;
  }

  .search-input {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-input input[type="text"],
  .search-input select {
    width: 100%;
    margin: 5px 0;
  }

  .products {
    grid-template-columns: 1fr 1fr;
  }

  .product-list-buttons {
    grid-template-columns: 1fr 1fr;
  }

  .product-list-buttons button {
    font-size: 1.1rem;
    padding: 9px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product-page-container {
    flex-direction: row;
  }

  .sidebar {
    width: 250px;
    margin-right: 20px;
  }

  .product-list-container {
    flex: 1;
  }

  .search-input {
    flex-direction: row;
    align-items: center;
  }

  .search-input input[type="text"],
  .search-input select {
    width: auto;
    margin: 0;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .product-list-buttons {
    grid-template-columns: 1fr 1fr;
  }

  .product-list-buttons button {
    font-size: 1.1rem;
    padding: 10px 15px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .product-page-container {
    flex-direction: row;
  }

  .sidebar {
    width: 250px;
    margin-right: 20px;
  }

  .product-list-container {
    flex: 1;
  }

  .search-input {
    flex-direction: row;
    align-items: center;
  }

  .search-input input[type="text"],
  .search-input select {
    width: auto;
    margin: 0;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .product-list-buttons {
    grid-template-columns: 1fr 1fr;
  }

  .product-list-buttons button {
    font-size: 1.2rem;
    padding: 10px 15px;
  }
}

/*category managemnt*/

.categories-management {
  display: flex;
}

.categories-container {
  flex: 1;
  padding: 20px;
}

.form-box {
  max-width: 400px;
  margin: 0 auto 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  position: relative;
}

.create-category h2,
.edit-category h2 {
  margin-bottom: 10px;
}

.category-form,
.category-edit-form {
  display: flex;
  flex-direction: column;
}

.category-form div,
.category-edit-form div {
  margin-bottom: 10px;
}

.category-form label,
.category-edit-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.category-form input,
.category-edit-form input,
.category-form textarea,
.category-edit-form textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.category-form input:focus,
.category-edit-form input:focus,
.category-form textarea:focus,
.category-edit-form textarea:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.form-buttons {
  text-align: center;
}

.form-buttons button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #FFEC9E;
  color: #000;
}

.form-buttons button:hover {
  background-color: #FFD700;
}

.edit-category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover {
  color: #ff0000;
}

.category-list {
  margin: 0 auto;
  max-width: 1000px;
}

.search-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category-table {
  width: 100%;
  border-collapse: collapse;
}

.category-table th,
.category-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.category-table th {
  background-color: #000;
  color: #FFEC9E;
}

.category-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.category-table tr:hover {
  background-color: #fdf7e3;
}

.category-edit-button,
.category-delete-button {
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
}

.category-edit-button {
  background-color: #FFEC9E;
  color: #000;
}

.category-edit-button:hover {
  background-color: #FFD700;
}

.category-delete-button {
  background-color: #FFEC9E;
  color: #000;
}

.category-delete-button:hover {
  background-color: #FFD700;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-buttons button {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #ddd;
  color: #fff;
}

.pagination-buttons button:disabled {
  cursor: not-allowed;
  background-color: #cccccc;
}

/*order managment*/
.orders-management {
  display: flex;
}

.orders-container {
  flex: 1;
  padding: 20px;
}

.search-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input input,
.search-input select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th,
.orders-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.orders-table th {
  background-color: #000;
  color: #FFEC9E;
}

.orders-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.orders-table tr:hover {
  background-color: #fdf7e3;
}

.order-delete-button {
  padding: 4px 8px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #FFEC9E;
  color: #000;
}
.order-update-button {
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #FFEC9E;
  color: #000;
}

.order-delete-button:hover {
  background-color: #FFD700;
}
.order-update-button:hover {
  background-color: #FFD700;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-buttons button {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #ddd;
  color: #fff;
}

.pagination-buttons button:disabled {
  cursor: not-allowed;
  background-color: #cccccc;
}

/*user managment*/

.users-management {
  display: flex;
}

.users-container {
  flex: 1;
  padding: 20px;
}

.user-list {
  margin: 0 auto;
  max-width: 1000px;
}

.search-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #000000;
  color: #FFEC9E;
}

.user-table tr {
  transition: background-color 0.3s;
}

.user-table tr:hover {
  background-color: #f1f1f1;
}

.user-table tr.blocked {
  background-color: #fff3c1;
}

.user-action-button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.user-action-button:hover {
  background-color: #ddd;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-buttons button {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-buttons button:disabled {
  cursor: not-allowed;
}

/*product managment*/
.products-management{
  display: flex;

}

.products-container{
  flex: 1;
  padding: 20px;

}

.product-form,
.category-edit-form {
  display: flex;
  flex-direction: column;
}

.product-form div,
.category-edit-form div {
  margin-bottom: 10px;
}

.product-form label,
.category-edit-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.product-form input,
.category-edit-form input,
.product-form textarea,
.category-edit-form textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.product-form input:focus,
.category-edit-form input:focus,
.product-form textarea:focus,
.category-edit-form textarea:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}
.image-preview {
  width: 100px;
  height: auto;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
}
.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}

.select-wrapper::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/*profile pic*/
.initials-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  background-color: #FFEC9E;
  color: #333;
}

/*cart icon*/
.cart-icon{
  height: 100%;
  position: relative;
}
.items-number{
  background-color: #FFEC9E;
  color: #000;
  position: absolute;
  top: -14px;
  right: -18px;
  padding: 1px 6px;
  border-radius: 10px;
  
}

