.dashboard-container {
    display: flex;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}


.sidebar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.sidebar p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/*user profile*/

.user__container {
    display: flex;
    padding: 20px;
}

.mainContent {
    flex: 1;
    margin-left: 20px;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.userInfoAvatar {
    margin-right: 15px;
}

.userInfoText {
    color: #333;
}

.userInfoText h3 {
    margin: 5px 0;
}

.editBtn {
    background: linear-gradient(135deg, #fff, #FFEC9E);
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.editBtn:hover {
    background: linear-gradient(-135deg, #fff, #FFD700);
}

.formContainer {
    display: none;
}

.formContainer.open {
    display: block;
}

.updateForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formGroup {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.formGroup label {
    flex: 0 0 100px;
    color: #ffcc00;
    margin-right: 10px;
}

.formGroup input,
.formGroup textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formGroup textarea {
    resize: vertical;
}

.submitBtn {
    background: linear-gradient(135deg, #fff, #FFEC9E);
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitBtn:hover {
    background: linear-gradient(-135deg, #fff, #FFD700);
}

.errorMessage {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}